In [ ]:
#utery

## list (seznam)

In [12]:
x = []
print(x, type(x), len(x))
x = [     123, 6, -23, 'ahoj', 23.9 ] #vytvoreni listu lze pozmoci [] a uvnitr seznam prvku oddelenych ,
print(x, type(x), len(x))
y = [
      123, 6, -23,
     'ahoj', 23.9,
    ]
print(y, type(y), len(y))
print(123,45,)

[] <class 'list'> 0
[123, 6, -23, 'ahoj', 23.9] <class 'list'> 5
[123, 6, -23, 'ahoj', 23.9] <class 'list'> 5
123 45

In [21]:
x=list()
print(x, type(x), len(x))
pismena = list('Brno') #list volano je urceno ke konverzi "necoho co neni list" na list
print(pismena, type(pismena),len(pismena))
y="[12, 4, 'ahoj']"
print(y, type(y)) #toto neni list, je to retezec
#print(list(123)) TypeError: 'int' object is not iterable
print(list('Hradec Kralove'))

[] <class 'list'> 0
['B', 'r', 'n', 'o'] <class 'list'> 4
[12, 4, 'ahoj'] <class 'str'>
['H', 'r', 'a', 'd', 'e', 'c', ' ', 'K', 'r', 'a', 'l', 'o', 'v', 'e']

In [32]:
#operace (operatoru) pro listy
a=[1,2]
b=["tri","ctyri",'pet']
print(a, b)
print(a+b) #spojeni leve a praveho listu
c = a+b
print(c, type(c), len(c))
print( 3 * a) #opakovani prvku listu
#print(a-b) #TypeError: unsupported operand type(s) for -: 'list' and 'list'
#print(a/2) #TypeError: unsupported operand type(s) for /: 'list' and 'int'

[1, 2] ['tri', 'ctyri', 'pet']
[1, 2, 'tri', 'ctyri', 'pet']
[1, 2, 'tri', 'ctyri', 'pet'] <class 'list'> 5
[1, 2, 1, 2, 1, 2]

In [39]:
x=[10 , 20 , 30 , 40 , 50 , 60]
print(x[0], x[3]) #vraci prvek na dane pozici , pozice je dana offsetem (posutim od prvniho prvku)
print(x[1:-2]) #usek/rez cast posloupnosti, start:stop:step, step pokud neni je 1
y=x[1:-2]
print(x)
print(y)
y=x[::-1]
print(x)
print(y)
y=x[::-2]
print(x)
print(y)

10 40
[20, 30, 40]
[10, 20, 30, 40, 50, 60]
[20, 30, 40]
[10, 20, 30, 40, 50, 60]
[60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60]
[60, 40, 20]

In [49]:
x = [10,20,30,40,'padesat',60]
print(x)
x[1] = 'dvacet' #zmane prvku na existujicim indexu
print(x)
#x[10] = 'ahoj' #IndexError: list assignment index out of range
del x[2] #odstran z listu prvek na indexu 2 (treti prvek), musi tam byt
print(x)
del x[2:-1]
print(x)
x[:-1] = [77,88,99,111]
print(x)
x[3:-2]=[-10,-20,-30]
print(x)

[10, 20, 30, 40, 'padesat', 60]
[10, 'dvacet', 30, 40, 'padesat', 60]
[10, 'dvacet', 40, 'padesat', 60]
[10, 'dvacet', 60]
[77, 88, 99, 111, 60]
[77, 88, 99, -10, -20, -30, 111, 60]

In [55]:
x = [10,20,30,40,'padesat',60]
x.append(70)
print(x)
x.append([80,90])
print(x)
print(x[-1])

[10, 20, 30, 40, 'padesat', 60, 70]
[10, 20, 30, 40, 'padesat', 60, 70, [80, 90]]
[80, 90]

In [59]:
x=[1,2,3]
print(x)
x[3:]=[4]
print(x)

[1, 2, 3]
[1, 2, 3, 4]

In [60]:
x=[1,2,3]
print(x)
x[3:]=[4,5,6]
print(x)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [57]:
x = [10,20,30,40,'padesat',60]
x.append(70)
print(x)
x.extend([80,90])
print(x)
print(x[-1])
x.insert(1,-999) #pozice/index/offset , hodnota (prvek)
print(x)

[10, 20, 30, 40, 'padesat', 60, 70]
[10, 20, 30, 40, 'padesat', 60, 70, 80, 90]
90
[10, -999, 20, 30, 40, 'padesat', 60, 70, 80, 90]

In [64]:
x = [10,20,30,40,'padesat',60]
y = x.pop()
print(y)
print(x)
y = x.pop(0)
print(y)
print(x)

60
[10, 20, 30, 40, 'padesat']
10
[20, 30, 40, 'padesat']

In [69]:
x = [10,20,30,40,'padesat',60, 40,88, 40]
x.remove(40) #jako del x[3]
print(x)
x.remove(40)
print(x)
x.remove(40)
print(x)

[10, 20, 30, 'padesat', 60, 40, 88, 40]
[10, 20, 30, 'padesat', 60, 88, 40]
[10, 20, 30, 'padesat', 60, 88]

In [70]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /) unbound builtins.list method
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [73]:
#listy by mely byt homogenni !!!!
cisla = [34,7,12,-9,2]
print(cisla)
cisla.sort()
print(cisla)
cisla.sort(reverse = True)
print(cisla)

[34, 7, 12, -9, 2]
[-9, 2, 7, 12, 34]
[34, 12, 7, 2, -9]

In [74]:
#listy by mely byt homogenni !!!!
cisla = [34,7,'12',-9,2]
print(cisla)
cisla.sort()
print(cisla)

[34, 7, '12', -9, 2]

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
cisla = [34,7,12,-9,2]
print(sum(cisla), max(cisla), min(cisla))

46 34 -9

In [76]:
jmena = [ 'Jan','Eva','Adam','Frantisek']
serazena_jmena = sorted(jmena)
print(jmena)
print(serazena_jmena)

['Jan', 'Eva', 'Adam', 'Frantisek']
['Adam', 'Eva', 'Frantisek', 'Jan']

In [77]:
jmena = [ 'Jan','Eva','Adam','Frantisek', 123]
serazena_jmena = sorted(jmena)
print(jmena)
print(serazena_jmena)

TypeError: '<' not supported between instances of 'int' and 'str'

In [88]:
cisla = [23,6,7,23,45,11,26,7]
print(cisla.count(23)) #kolikrat tam je cislo
print(cisla.index(11)) #index kde se nachazi sesty prvek = offset 5
print(cisla.index(7)) #prvni vyskyt
print(cisla.index(7,3)) #posledni vyskyt, 3 znamena odkud zacmene hledat
print(cisla.count(110))
#print(cisla.index(110)) #ValueError: 110 is not in list

2
5
2
7
0

In [91]:
#help(list)
help(list.clear)

Help on method_descriptor:

clear(self, /) unbound builtins.list method
    Remove all items from list.

In [93]:
cisla = [4354,243,243,43,56,54,6567,5,675,6,56745,7]
print(cisla)
cisla.clear()
print(cisla)

[4354, 243, 243, 43, 56, 54, 6567, 5, 675, 6, 56745, 7]
[]

In [94]:
cisla = [4354,243,243,43,56,54,6567,5,675,6,56745,7]
print(cisla)
cisla=[]
print(cisla)

[4354, 243, 243, 43, 56, 54, 6567, 5, 675, 6, 56745, 7]
[]

In [95]:
x = [3,6,9]
y = x
print(x)
print(y)

[3, 6, 9]
[3, 6, 9]

In [97]:
x = [3,6,9]
y = x
x.append(13)
print(x)
print(y)

[3, 6, 9, 13]
[3, 6, 9, 13]

In [99]:
plat = 23000
plat2 = plat
print(plat, plat2)
plat+=5000
print(plat, plat2)

23000 23000
28000 23000

## n-tice (tuple)

In [103]:
x=()
print(x, type(x), len(x))
x=(12)
print(x, type(x))
x=(12,)
print(x, type(x), len(x))

() <class 'tuple'> 0
12 <class 'int'>
(12,) <class 'tuple'> 1

In [111]:
x=(12,67,89,-3)
print(x, type(x), len(x))
#indexy a useky
print(x[0], x[-1], x[2]) #pristup k prvku n-tice na damen indexu
print(x[1:-1])
print(x[::-1])
y=('asdsd','asddasd')
print(2*y)
print(x+y)

(12, 67, 89, -3) <class 'tuple'> 4
12 -3 89
(67, 89)
(-3, 89, 67, 12)
('asdsd', 'asddasd', 'asdsd', 'asddasd')
(12, 67, 89, -3, 'asdsd', 'asddasd')

In [122]:
x=(12,67,89,-3,-3,-4)
#del x[1] #smaz 67 TypeError: 'tuple' object doesn't support item deletion
#x[1]=56 #TypeError: 'tuple' object does not support item assignment
#x.append(678) #AttributeError: 'tuple' object has no attribute 'append'
print(x.index(89))
print(x.count(-3))
print(x.count(-40))

2
2
0

In [116]:
# n-tice v Pythonu nahrazuji record (definice vlastniho type pro hodnoty) v jinych jazycich
datum1 = (2025, 1, 28)
print(datum1, datum1[0])
datum2 = (2026, 6, 25)
print(datum2, datum2[0])
print(datum2[0] > datum1[0])

(2025, 1, 28) 2025
(2026, 6, 25) 2026
True

In [127]:
#n-tice jsou casto nehomogenni, jednotlive prvky mohou/jsou jineho typu
osoba1 = ('Jan', 'Novak', 34, 29_000)
print(osoba1)
osoba2 = ('Adam', 'Prochazka', 30, 31_000)
print(osoba2)
osoby = [ osoba1, osoba2 ]
print(osoby)
print(sorted(osoby))

('Jan', 'Novak', 34, 29000)
('Adam', 'Prochazka', 30, 31000)
[('Jan', 'Novak', 34, 29000), ('Adam', 'Prochazka', 30, 31000)]
[('Adam', 'Prochazka', 30, 31000), ('Jan', 'Novak', 34, 29000)]

In [135]:
import sqlite3
conn = sqlite3.connect(r'e:\osoby.sqlite')
data = conn.cursor().execute('select * from osoby').fetchall()
print(data)
del data[-1]
print(data)
conn.close()
print(data[0][2])
#data[0][2]=55000 #TypeError: 'tuple' object does not support item assignment
data[0]=(data[0][0], data[0][1], 55000)
print(data)

[(1, 'Jana', 23000), (2, 'Petr', 33000), (7, 'Tomas', 13000), (9, 'Adam', 25000)]
[(1, 'Jana', 23000), (2, 'Petr', 33000), (7, 'Tomas', 13000)]
23000
[(1, 'Jana', 55000), (2, 'Petr', 33000), (7, 'Tomas', 13000)]

In [138]:
t = (1, 'Jana', 23000)
l = list(t)
print(l)
l[1]='Janicka'
print(l)
print(tuple(l))

[1, 'Jana', 23000]
[1, 'Janicka', 23000]
(1, 'Janicka', 23000)

In [141]:
x=divmod(10,3)
print(x, type(x), len(x))
print((10//3,10%3))

(3, 1) <class 'tuple'> 2
(3, 1)

In [143]:
jmeno = 'Jan Novak'
print(jmeno)
print(jmeno.split())

Jan Novak
['Jan', 'Novak']

In [146]:
print('CZ,Brno'.split())
print('CZ,Brno,397000'.split(','))

['CZ,Brno']
['CZ', 'Brno', '397000']

In [152]:
slova = ['Hello','world' ,'from','Gopas']
print(slova)
x='-^-'.join(slova)
print(x,type(x))

['Hello', 'world', 'from', 'Gopas']
Hello-^-world-^-from-^-Gopas <class 'str'>

## mnoziny (sets)

In [169]:
x={}
print(x,type(x), len(x))
x=set() #vytvori prazdnou mnozinu
print(x,type(x), len(x))
barvy1 = {'cerna','bila','zelena','cerna'}
print(barvy1, type(barvy1), len(barvy1))
barvy2 = {'bila','zluta','hneda'}
print(barvy2)
barvy2.add('modra') #mnozina je menitelne, prodame motodou add
print(barvy2)
print(barvy1.intersection(barvy2))
print(barvy1-barvy2)
print(barvy2-barvy1)
#barvy1.remove(123) #KeyError: 123
barvy1.discard(123)
barvy1.discard('zelena')
print(barvy1)

{} <class 'dict'> 0
set() <class 'set'> 0
{'zelena', 'cerna', 'bila'} <class 'set'> 3
{'hneda', 'bila', 'zluta'}
{'hneda', 'bila', 'zluta', 'modra'}
{'bila'}
{'zelena', 'cerna'}
{'hneda', 'modra', 'zluta'}
{'cerna', 'bila'}

In [172]:
x=frozenset(barvy2)
print(x)
#x.discard('bila') #AttributeError: 'frozenset' object has no attribute 'discard'

frozenset({'hneda', 'bila', 'zluta', 'modra'})

In [175]:
#help(set)
#print(barvy2[1]) #TypeError: 'set' object is not subscriptable

In [179]:
cisla = [12,67,23,12,8,9,67,5,8,12]
print(cisla)
x=set(cisla)
print(x)
cisla = list(x)
print(cisla)

[12, 67, 23, 12, 8, 9, 67, 5, 8, 12]
{67, 5, 8, 9, 12, 23}
[67, 5, 8, 9, 12, 23]

In [180]:
slovo = 'lokomotiva'
#seznam unikatni znaku ze slova
znaky = list(set(slovo))
print(znaky)

['k', 'l', 't', 'v', 'a', 'm', 'o', 'i']

In [181]:
x={12,'dsffsd',(1,'Jan')} #prvky mnoziny nohou byt pouze nemenitelne (hashovatelne) objekty
print(x)

{(1, 'Jan'), 'dsffsd', 12}

In [182]:
x={12,'dsffsd',[1,'Jan']}
print(x)

TypeError: unhashable type: 'list'

## slovniky (dictionaries) dict

In [189]:
x={}
print(x, type(x), len(x))
x = {'cerna':'black', 'bila':'white'} #hashe nemaji indexy ale maji klice
print(x)
print(x['bila']) #pristup pres klic
#dict neumi slice
#print(x['bila':'cerna']) #KeyError: slice('bila', 'cerna', None)
x['bila']='WHIte'
print(x)
x['zluta']='yellow'
print(x)
del x['cerna']
print(x)

{} <class 'dict'> 0
{'cerna': 'black', 'bila': 'white'}
white
{'cerna': 'black', 'bila': 'WHIte'}
{'cerna': 'black', 'bila': 'WHIte', 'zluta': 'yellow'}
{'bila': 'WHIte', 'zluta': 'yellow'}

In [195]:
print(x.keys(),list(x.keys()))
print(list(x.values()))
y={10:0, 20:400,11:121,9:100, 10:100}
print(y)
#klice slovniku pouze nemenitelne objekty int, str, tuple
#hodnota cokoliv

dict_keys(['bila', 'zluta']) ['bila', 'zluta']
['WHIte', 'yellow']
{10: 100, 20: 400, 11: 121, 9: 100}

In [198]:
druhe_mocniny = {10:100, 20:400, 30:900, 40:1600, 50:2500}
print(druhe_mocniny[30])

900

In [199]:
b = {'cervena' : {'en': 'red', 'de': 'rot'},
     'cerna' : {'en': 'black', 'de': 'schwarz'}
    }
print(b['cerna']['de'])
print(b['cerna']['en'])

schwarz
black

In [202]:
matice  = [[1,4,7],
           [5,-3,9],
           [7,123,4]
          ]
print(matice[0]) #1 radek matice
print(matice[1][-1]) #posledni prvek 2 radku matice
print(matice[1][2]) #posledni prvek 2 radku matice

[1, 4, 7]
9
9

In [203]:
x=[1,4,7,4,6,788,45,54654,4645]
print(x[2, 5, -1])

TypeError: list indices must be integers or slices, not tuple

In [207]:
print(...,type(...))
print(10@20)

Ellipsis <class 'ellipsis'>

TypeError: unsupported operand type(s) for @: 'int' and 'int'

In [209]:
znamka = 3
hodnoceni = {1: 'vyborne', 2:'chvalitebny',3:'dobry',4:'dostatecny',5:'nedostatecny'}
print(hodnoceni[znamka])
znamka=6
print(hodnoceni[znamka])

dobry

KeyError: 6

In [211]:
znamka = 3
hodnoceni = {1: 'vyborne', 2:'chvalitebny',3:'dobry',4:'dostatecny',5:'nedostatecny'}
print(hodnoceni[znamka])
znamka=6
print(hodnoceni.get(znamka,'nezname'))

dobry
nezname

## menitelne vs nemenitelne objekty, memory management

In [213]:
#vicenasobne prirazeni
a = 0
b = 0
c = 0
print(a,b,c)
#lepe
a=b=c=1
print(a,b,c)

0 0 0
1 1 1

In [218]:
a=b=c=1000
print(a,b,c)
print(id(a),id(b),id(c))
print(a is b, id(a) == id(b))

1000 1000 1000
1552456964080 1552456964080 1552456964080
True True

In [222]:
a=b=c=1000
d=920+80
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
a+=1
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))

1000 1000 1000 1000
1552456961360 1552456961360 1552456961360 1552456965296
1001 1000 1000 1000
1552453466128 1552456961360 1552456961360 1552456965296

In [224]:
#str je take nenenitelny
a='ahoj'
b=a.upper()
print(id(a),a, b, id(b))
a=a.capitalize()
print(a, id(a))

1552439919888 ahoj AHOJ 1552457249728
Ahoj 1552457839600

In [231]:
a=b=[10,20,30]
print(a,id(a))
print(b, id(b))
print(a is b,a==b)
b.append(45)
del b[0]
print(b, id(b))
print(a,id(a))

[10, 20, 30] 1552457632256
[10, 20, 30] 1552457632256
True True
[20, 30, 45] 1552457632256
[20, 30, 45] 1552457632256

In [230]:
#melka kopie, kopie objektu
a=[10,20,30]
b=a[:]
print(a,id(a))
print(b, id(b))
print(a is b, a==b)
b.append(45)
del b[0]
print(b, id(b))
print(a,id(a))

[10, 20, 30] 1552457489984
[10, 20, 30] 1552457642752
False True
[20, 30, 45] 1552457642752
[10, 20, 30] 1552457489984

In [230]:
#melka kopie, kopie objektu
a=[10,20,30]
b=a.copy() #metodate copy je u list, set, dict
print(a,id(a))
print(b, id(b))
print(a is b, a==b)
b.append(45)
del b[0]
print(b, id(b))
print(a,id(a))

[10, 20, 30] 1552457489984
[10, 20, 30] 1552457642752
False True
[20, 30, 45] 1552457642752
[10, 20, 30] 1552457489984

In [235]:
a=[10,20,[30,40]]
b=a.copy()
a.insert(0,-10)
print(a,id(a))
print(b,id(b))
a[3].append(50)
print(a)
print(b)

[-10, 10, 20, [30, 40]] 1552457642752
[10, 20, [30, 40]] 1552457489984
[-10, 10, 20, [30, 40, 50]]
[10, 20, [30, 40, 50]]

In [236]:
import copy
a=[10,20,[30,40]]
b=copy.deepcopy(a)
a.insert(0,-10)
print(a,id(a))
print(b,id(b))
a[3].append(50)
print(a)
print(b)

[-10, 10, 20, [30, 40]] 1552457616768
[10, 20, [30, 40]] 1552457498496
[-10, 10, 20, [30, 40, 50]]
[10, 20, [30, 40]]

In [243]:
x={
  "base": "USD",
  "results": {
    "EUR": 0.95895,
    "GBP": 0.80489,
    "CHF": 0.90535
  },
  "updated": "2025-01-28 13:41:50",
  "ms": 2
}
print(x)
y=x
print(y)
x['results']['EUR']=12.8
print(x)
print(y)

{'base': 'USD', 'results': {'EUR': 0.95895, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 0.95895, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 12.8, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 12.8, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}

In [244]:
import copy
x={
  "base": "USD",
  "results": {
    "EUR": 0.95895,
    "GBP": 0.80489,
    "CHF": 0.90535
  },
  "updated": "2025-01-28 13:41:50",
  "ms": 2
}
print(x)
y=copy.deepcopy(x)
print(y)
x['results']['EUR']=12.8
print(x)
print(y)

{'base': 'USD', 'results': {'EUR': 0.95895, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 0.95895, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 12.8, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}
{'base': 'USD', 'results': {'EUR': 0.95895, 'GBP': 0.80489, 'CHF': 0.90535}, 'updated': '2025-01-28 13:41:50', 'ms': 2}

In [248]:
# boolean kontext
#co je pravda a co nepravda
print(bool('Brno'))
print(bool([23,78]))
print(bool(0))
print(bool({}))

True
True
False
False

In [251]:
#co je nepravda
#cislo 0, 0.0 , 0j, prazdny retezec '', jakykakoliv prazdna kolekce [], (), {}, set()
#None, False
print(bool(False))
print(True+False)
print(True+13)
#vse ostatni je pravda

False
1
14

In [260]:
#relacni operatory
print(10 == 9+1)
print('cau' > 'ahoj')
print('Cau' > 'ahoj')
print(10>=5)
print(9!=10)
print(10>5 and len('ahoj') > 3)
print(10>5 and len('ahoj') > 30)
print(10>5 or len('ahoj') > 30)
#Python v boolovskych vyrazech vyuziova "short circuit evaluation"
print(10>50 and len('ahoj') > 3)

True
True
False
True
True
True
False
True
False

In [263]:
10>5 and  print('ahoj')
10>50 and  print('cau')
pass

ahoj

In [264]:
#prikaz if
slovo = 'pondeli'
if len(slovo)>5:
    print('slovo ma alespon 6 znaku')

slovo ma alespon 6 znaku

In [265]:
#prikaz if
slovo = 'utery'
if len(slovo)>5:
    print('slovo ma alespon 6 znaku')

In [271]:
#prikaz if
slovo = 'utery'
if len(slovo)>5:
    print('slovo ma alespon 6 znaku')
    pass
    pass
else:
    print('slovo je kratke')

slovo je kratke

In [272]:
cislo = -5
if cislo>0:
    print('kladne cislo')
else:
    if cislo<0:
        print('zaporne cislo')
    else:
        print('je to nula !')

zaporne cislo

In [273]:
cislo = -5
if cislo>0:
    print('kladne cislo')
elif cislo<0:
    print('zaporne cislo')
else:
    print('je to nula !')

zaporne cislo

In [277]:
print('123'.isdigit())
print('123a'.isdigit())
print('Brno'.isalpha())
print('Brno1'.isalpha())

True
False
True
False

In [279]:
print('9'.isdigit())
print('9'.isdecimal())
print('9'.isnumeric())

True
True
True

In [294]:
x='\N{roman numeral four}'
print(x)
print(x.isdigit())
print(x.isdecimal())
print(x.isnumeric())
#print(int(x)+0)

Ⅳ
False
False
True

ValueError: invalid literal for int() with base 10: 'Ⅳ'

In [293]:
x='\N{circled digit three}'
print(x)
print(x.isdigit())
print(x.isdecimal())
print(x.isnumeric())
#print(int(x)+0)

③
True
False
True

ValueError: invalid literal for int() with base 10: '③'

In [292]:
x="੦੩੮"
print(x)
print(x.isdigit())
print(x.isdecimal())
print(x.isnumeric())
print(int(x)+0)

੦੩੮
True
True
True
38