In [ ]:
#ctvrtek

In [1]:
#vytvorte list prvocisel od 2 do 100

prvocisla = []
for cislo in range(2,100+1): #cislo je z intervalu 2..100
    je_prvocislo = True
    for prvocislo in prvocisla:
        if not cislo % prvocislo: #if cislo % prvocislo == 0 #je to nasobkem prvocisla ?
            je_prvocislo = False
    if je_prvocislo:
        prvocisla.append(cislo)
print(prvocisla)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [2]:
#vytvorte list prvocisel od 2 do 100

prvocisla = []
for cislo in range(2,100+1): #cislo je z intervalu 2..100
    je_prvocislo = True
    for prvocislo in prvocisla:
        if not cislo % prvocislo: #if cislo % prvocislo == 0 #je to nasobkem prvocisla ?
            je_prvocislo = False
            break
    if je_prvocislo:
        prvocisla.append(cislo)
print(prvocisla)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [3]:
#vytvorte list prvocisel od 2 do 100

prvocisla = []
for cislo in range(2,100+1): #cislo je z intervalu 2..100
    for prvocislo in prvocisla:
        if not cislo % prvocislo: #if cislo % prvocislo == 0 #je to nasobkem prvocisla ?
            break
    else:
        prvocisla.append(cislo)
print(prvocisla)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [5]:
a, b = 10, 20
print(a,b)
a, b = b, a
print(a,b)

10 20
20 10

In [6]:
a, b = 10, 20
print(a,b)
c = a
a = b
b = c
print(a,b)

10 20
20 10

In [8]:
import sys
x=1450
print(id(x), sys.getrefcount(x))

2503132087760 3

In [9]:
import sys
x=145
print(id(x), sys.getrefcount(x))

140716934118328 4294967295

In [10]:
def f(a=10,b):
    pass

SyntaxError: parameter without a default follows parameter with a default (2129953030.py, line 1)

In [15]:
jmena = ['Eva', 'Adam','Jan', 'Libor','Frantisek','Karel']
print(sorted(jmena)) #reverse =  False
print(sorted(jmena, reverse = True))
print(sorted(jmena, key = len))
def f(x):
    return x[-1]
print(sorted(jmena, key = f))

['Adam', 'Eva', 'Frantisek', 'Jan', 'Karel', 'Libor']
['Libor', 'Karel', 'Jan', 'Frantisek', 'Eva', 'Adam']
['Eva', 'Jan', 'Adam', 'Libor', 'Karel', 'Frantisek']
['Eva', 'Frantisek', 'Karel', 'Adam', 'Jan', 'Libor']

In [20]:
def f(x):
    return x[-1]
print(f('Gopas'))
print(f([45,71,32]))
#print(f(123)) #TypeError: 'int' object is not subscriptable
print(sorted(jmena, key = f))

s
32
['Eva', 'Frantisek', 'Karel', 'Adam', 'Jan', 'Libor']

In [27]:
cisla = [23,78,'56','9',11]
print(sorted(cisla,key=int))

['9', 11, 23, '56', 78]

In [30]:
x = [ (12,45), (9,72), (4, -9), (0, 50), (12,67) ]
print(x[0] < x[-1])
print(sorted(x))
def f(x):
    return sum(x)
print(sorted(x,key = f))

True
[(0, 50), (4, -9), (9, 72), (12, 45), (12, 67)]
[(4, -9), (0, 50), (12, 45), (12, 67), (9, 72)]

In [59]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
#seradte vzestupne podle kodu statu a nazvy mest vzestupne podle poctu obyvatel
#AT: Linz, Graz
#CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
def druhy_element(ntice):
    return ntice[1]

mesta = dict()
for radek in radky:
    kod_statu, nazev_mesta, pocet_obyvatel  = radek.split(',')
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    seznam_mest = []
    for nazev,po in sorted(mesta[stat],key = druhy_element):
        seznam_mest.append(nazev)
    print(stat,': ', ', '.join(seznam_mest), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [44]:
x = ['sdf','sdfsdfs','ertet']
print(sorted(x))
print(sorted(x, key=123))

['ertet', 'sdf', 'sdfsdfs']

TypeError: 'int' object is not callable

## funkcionalni programovani

In [45]:
#3 zakladni operace, mapovani, filtrace a redukce
#program je aplikace (kompizoce ) funkci na data (list)


cisla = [12,4,7,8]
#list druhych mocnin
na2 = []
for cislo in cisla:
    na2.append(cislo**2)
print(na2)

[144, 16, 49, 64]

In [46]:
cisla = [12,4,7,8]
def cislo_na_2(cislo):
    return cislo**2
#list druhych mocnin
na2 = []
for cislo in cisla:
    na2.append(cislo_na_2(cislo))
print(na2)

[144, 16, 49, 64]

In [53]:
cisla = [12,4,7,8]
def cislo_na_2(cislo):
    return cislo**2
na2 = map(cislo_na_2, cisla)
print(na2, list(na2))
print(list(na2))
print(list(map(cislo_na_2, cisla))[0])

<map object at 0x00000246CE76DFC0> [144, 16, 49, 64]
[]
144

In [58]:
abc = map(cislo_na_2, cisla)
mujlist = list(abc)
print(mujlist)
print(mujlist[0])
print(mujlist)

[144, 16, 49, 64]
144
[144, 16, 49, 64]

In [50]:
cisla = [12,4,7,8]
def cislo_na_2(cislo):
    return cislo**2
for i in map(cislo_na_2, cisla):
    print(i)

144
16
49
64

In [60]:
#pouziti map
neco = [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)]
def f(x):
    return x[0][::-1]

m = map(f, neco)
print(list(m))

['onrB', 'aharP', 'avartsO', 'evolarK cedarH', 'ecivojeduB ekseC']

In [63]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
#seradte vzestupne podle kodu statu a nazvy mest vzestupne podle poctu obyvatel
#AT: Linz, Graz
#CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
def druhy_element(ntice):
    return ntice[1]
def prvni_element(ntice):
    return ntice[0]
    
mesta = dict()
for radek in radky:
    kod_statu, nazev_mesta, pocet_obyvatel  = radek.split(',')
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    print(stat,': ', ', '.join(  map(prvni_element, sorted(mesta[stat],key = druhy_element)  ) ), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [67]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
def f(x):
    print('volano f s parametem',x)
    return len(x)

m=map(f,jmena)
print(m)
print(list(m))

<map object at 0x00000246CE771BA0>
volano f s parametem sdfsd
volano f s parametem sdfsfsdfsdfsfs
volano f s parametem fd
[5, 14, 2]

In [68]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
def f(x):
    print('volano f s parametem',x)
    return len(x)

m=map(f,jmena)
print(m)
for x in m:
    print(x)

<map object at 0x00000246CF31DD80>
volano f s parametem sdfsd
5
volano f s parametem sdfsfsdfsdfsfs
14
volano f s parametem fd
2

In [69]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
for index in range(len(jmena)):
    print(index,jmena[index])

0 sdfsd
1 sdfsfsdfsdfsfs
2 fd

In [70]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
index = 0
while index<len(jmena):
    print(index,jmena[index])
    index+=1

0 sdfsd
1 sdfsfsdfsdfsfs
2 fd

In [71]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
for index,jmeno in enumerate(jmena):
    print(index, jmeno)

0 sdfsd
1 sdfsfsdfsdfsfs
2 fd

In [75]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
for index,jmeno in enumerate(jmena,1):
    print(index, jmeno)

1 sdfsd
2 sdfsfsdfsdfsfs
3 fd

In [74]:
jmena = ['sdfsd','sdfsfsdfsdfsfs','fd']
print(enumerate(jmena))
print(list(enumerate(jmena)))
print(list(enumerate(jmena,34)))

<enumerate object at 0x00000246CF30A8E0>
[(0, 'sdfsd'), (1, 'sdfsfsdfsdfsfs'), (2, 'fd')]
[(34, 'sdfsd'), (35, 'sdfsfsdfsdfsfs'), (36, 'fd')]

In [77]:
#filtrace je "odstraneni" propusteni/vraceni prvku s urcitou vlasnosti
cisla = [12,5,-7,13,-9,66]
#chci novy list pouze kladnych cisel
novy = []
for cislo in cisla:
    if cislo>0:
        novy.append(cislo)
print(novy)

[12, 5, 13, 66]

In [78]:
#filtrace je "odstraneni" propusteni/vraceni prvku s urcitou vlasnosti
cisla = [12,5,-7,13,-9,66]
#chci novy list pouze kladnych cisel
def vetsi_nez_0(x):
    return x>0
novy = []
for cislo in cisla:
    if vetsi_nez_0(cislo):
        novy.append(cislo)
print(novy)

[12, 5, 13, 66]

In [80]:
#filtrace je "odstraneni" propusteni/vraceni prvku s urcitou vlasnosti
cisla = [12,5,-7,13,-9,66]
#chci novy list pouze kladnych cisel
def vetsi_nez_0(x):
    return x>0
f= filter(vetsi_nez_0,cisla)
print(f)
print(list(f))

<filter object at 0x00000246CF36C400>
[12, 5, 13, 66]

In [86]:
m=[('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)]
#chci pouze mesta s vice nez 100_000 obytale
def vetsi_100k(x):
    return x[1]>100_000
    
print(list(filter(vetsi_100k, m)))

def prvni_element(x):
    return x[0]
p=list( map(prvni_element, filter(vetsi_100k, m) )  ) 
print(p[-1], p[0])
print(p)

[('Kosice', 210000), ('Bratislava', 405000)]
Bratislava Kosice
['Kosice', 'Bratislava']

In [87]:
def secti (a,b):
    return (a+b)
prvni=[1,2,3]
druhy=[4,5,6]
print (map(secti,prvni,druhy))
print (list(map(secti,prvni,druhy)))

<map object at 0x00000246CE774EE0>
[5, 7, 9]

In [89]:
jmena = ['Jan', 'Adam','Eva']
platy = [12000,13000,15000]
d=[]
for i in range(min(len(jmena),len(platy))):
    d.append( (jmena[i], platy[i]) )

print(d)

[('Jan', 12000), ('Adam', 13000), ('Eva', 15000)]

In [92]:
jmena = ['Jan', 'Adam','Eva']
platy = [12000,13000,15000]
def f(a,b): return (a,b)
d=list(map(f,jmena,platy))
print(d)

[('Jan', 12000), ('Adam', 13000), ('Eva', 15000)]

In [91]:
jmena = ['Jan', 'Adam','Eva']
platy = [12000,13000,15000]
d=list(zip(jmena,platy))
print(d)

[('Jan', 12000), ('Adam', 13000), ('Eva', 15000)]

In [95]:
def secti(a,b):
    return a+b

print(secti(2,6))
print(secti, type(secti), id(secti), hex(id(secti)).upper())

8
<function secti at 0x00000246CE66F380> <class 'function'> 2503133819776 0X246CE66F380

In [98]:
add = lambda a,b: a+b
print(add, type(add), id(add))
print(add(2,6))

<function <lambda> at 0x00000246CF2E7920> <class 'function'> 2503146895648
8

In [100]:
jmena = ['Jan', 'Adam','Eva']
def posledni_znak(x):
    return x[-1]
print(sorted(jmena,key=posledni_znak))

['Eva', 'Adam', 'Jan']

In [102]:
jmena = ['Jan', 'Adam','Eva']
print(sorted(jmena,key = lambda x:x[-1]))

['Eva', 'Adam', 'Jan']

In [103]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
#seradte vzestupne podle kodu statu a nazvy mest vzestupne podle poctu obyvatel
#AT: Linz, Graz
#CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
mesta = dict()
for radek in radky:
    kod_statu, nazev_mesta, pocet_obyvatel  = radek.split(',')
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    print(stat,': ', ', '.join(  map(lambda x:x[0], sorted(mesta[stat],key = lambda x:x[1])  ) ), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [108]:
x=list(map(lambda x: print('ahoj'), range(5)))
print(list(x))

ahoj
ahoj
ahoj
ahoj
ahoj
[None, None, None, None, None]

In [112]:
(lambda : print('cau'))()

cau

In [119]:
#zpet k definice funkce
#promenny pocet parametru
print(min(1,2,3))
print(min(1,2))
print(min([1,2,3,]))
#print(sum(1,2,3))
print(sum([1,2,3]))
print(sum([1,2,3],1))

1
1
1
6
7

In [128]:
def f(*args): #pozicni predavani libovolneho poctu parametru
    print(args, type(args), len(args))
f()
f(1)
f(1,2,3)

() <class 'tuple'> 0
(1,) <class 'tuple'> 1
(1, 2, 3) <class 'tuple'> 3

In [135]:
def f(*args,a): 
    print(args, type(args), len(args))
    print(a, type(a))

#f() #TypeError: f() missing 1 required keyword-only argument: 'a'
#f(1,2,3) #TypeError: f() missing 1 required keyword-only argument: 'a'
f(1,2,a=3)
f(a=6)

(1, 2) <class 'tuple'> 2
3 <class 'int'>
() <class 'tuple'> 0
6 <class 'int'>

In [140]:
def maximum (*args):
    """Počítá maximum z posloupnosti čísel"""
    m=args[0]
    for n in args[1:]:
        if n>m:
            m=n
    return m
    
print (maximum(1,5,4,2))
print (maximum(1,5,4,2,23,23))
#maximum()

5
23

In [147]:
def f(**kwargs):
    print(kwargs, type(kwargs), len(kwargs))

f()
f(a=10)
f(x=45,j='cvbxbvc')

{} <class 'dict'> 0
{'a': 10} <class 'dict'> 1
{'x': 45, 'j': 'cvbxbvc'} <class 'dict'> 2

In [150]:
def f(*args, **kwargs):
    print(args, type(args), len(args))
    print(kwargs, type(kwargs), len(kwargs))

f()
f(12,4,56)
f(a=10, b='fdgdf')
f(1,2,3,a=10,b=20)

() <class 'tuple'> 0
{} <class 'dict'> 0
(12, 4, 56) <class 'tuple'> 3
{} <class 'dict'> 0
() <class 'tuple'> 0
{'a': 10, 'b': 'fdgdf'} <class 'dict'> 2
(1, 2, 3) <class 'tuple'> 3
{'a': 10, 'b': 20} <class 'dict'> 2

In [155]:
def f(a,/,b): #argumenty pred / lze predavat pouze pozicne
    print(f'{a=}, {b=}')

#f() #TypeError: f() missing 2 required positional arguments: 'a' and 'b'
f(1,2)
f(1,b=2)
#f(a=1,b=2) #TypeError: f() got some positional-only arguments passed as keyword arguments: 'a'

a=1, b=2
a=1, b=2

TypeError: f() got some positional-only arguments passed as keyword arguments: 'a'

In [158]:
def f(a,*,b): #argumenty za * lze predat pouze pojmenovane
    print(f'{a=}, {b=}')
f(a=1,b=2)
#f(1,2) #TypeError: f() takes 1 positional argument but 2 were given
f(1,b=2)

a=1, b=2
a=1, b=2

In [160]:
def f(a,/,*,b): #argumenty za * lze predat pouze pojmenovane
    print(f'{a=}, {b=}')

f(1,b=2)
#f(1,2) #TypeError: f() takes 1 positional argument but 2 were given

a=1, b=2

TypeError: f() takes 1 positional argument but 2 were given

In [162]:
help(print)
help(sorted)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [166]:
cisla = [12,5,7,99]
#novy list druhych mocnin
#klasicky pres for loop
novy = []
for cislo in cisla:
    novy.append(cislo**2)

print(novy)

[144, 25, 49, 9801]

In [165]:
#pomoci mapovani, map
novy = list(map(lambda x:x**2, cisla))
print(novy)

[144, 25, 49, 9801]

In [167]:
#list comprehension
cisla = [12,5,7,99]
nova = [ cislo**2 for cislo in cisla ]
print(nova)

[144, 25, 49, 9801]

In [169]:
#list comprehension
import math
cisla = [12,5,7,99]
nova = [ round(math.sqrt(cislo**3), 2) for cislo in cisla ]
print(nova)

[41.57, 11.18, 18.52, 985.04]

In [171]:
#list comprehension
cisla = [12,5,7,99,-2,-6,11]
nova = []
for cislo in cisla:
    if cislo>0:
        nova.append(cislo**2)
print(nova)

[144, 25, 49, 9801, 121]

In [174]:
cisla = [12,5,7,99,-2,-6,11]
novy = list(map(lambda x:x**2, filter(lambda x:x>0,cisla)))
print(novy)

[144, 25, 49, 9801, 121]

In [173]:
#list comprehension
cisla = [12,5,7,99,-2,-6,11]
nova = [ cislo**2 for cislo in cisla if cislo>0 ]
print(nova)

[144, 25, 49, 9801, 121]

In [175]:
x=[ [1,4,7], [23,7,12,7,83,99], [4], [55,78,0] ]
y = [ c for sublist in x for c in sublist]
print(y)

[1, 4, 7, 23, 7, 12, 7, 83, 99, 4, 55, 78, 0]

In [178]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
#seradte vzestupne podle kodu statu a nazvy mest vzestupne podle poctu obyvatel
#AT: Linz, Graz
#CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
mesta = dict()
for radek in radky:
    kod_statu, nazev_mesta, pocet_obyvatel  = radek.split(',')
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    print(stat,': ', ', '.join(  [ x[0] for x in sorted(mesta[stat],key = lambda x:x[1]) ] ), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [185]:
#explicitni unpacking , starred expression
jmena = ['Eva', 'Adam','Jan', 'Libor']

print(jmena)
print(' '.join(jmena)) #jeden string z klistu stringu oodelenych mezerou
for jmeno in jmena:
    print(jmeno,end=' ')
print()
print(jmena[0], jmena[1], jmena[2], jmena[3])

['Eva', 'Adam', 'Jan', 'Libor']
Eva Adam Jan Libor
Eva Adam Jan Libor
Eva Adam Jan Libor

In [187]:
print(*jmena) #print(jmena[0], jmena[1], jmena[2], jmena[3])

Eva Adam Jan Libor

In [188]:
def f(*args):
    print(args, type(args), len(args))

f(*jmena)

('Eva', 'Adam', 'Jan', 'Libor') <class 'tuple'> 4

In [189]:
print(*jmena[:-1])

Eva Adam Jan

In [190]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
print(*radky,sep='\n')

CZ,Brno,395000
CZ,Praha,1100000
SK,Kosice,210000
DE,Berlin,6500000
SK,Banska Bystrica,48000
CZ,Ostrava,210000
CZ,Hradec Kralove,97000
AT,Linz,82000
SK,Bratislava,405000
AT,Graz,95000
CZ,Ceske Budejovice,103000

In [193]:
barvy = {'cervena':'red', 'cerna':'black'}
print(*barvy)
print(*barvy.values())
print(*barvy.items())

cervena cerna
red black
('cervena', 'red') ('cerna', 'black')

In [200]:
a,b,c = 10,20,30
print(a,b,c)
#a,b,c = 10,20,30,40,50 #ValueError: too many values to unpack (expected 3)
a,b,*c = 10,20,30,40,50
print(a,b,c)
a,b,*c = 10,20
print(a,b,c)
a,*b,c = 10,20,30,40,50
print(a,b,c)
a,*b,c = 10,20
print(a,b,c)

10 20 30
10 20 [30, 40, 50]
10 20 []
10 [20, 30, 40] 50
10 [] 20

In [203]:
data = [ (1,2,46,7), (34,6), (234,5666,13,435)]
for d in data:
    print(d[0], d[1])

1 2
34 6
234 5666

In [205]:
data = [ (1,2,46,7), (34,6), (234,5666,13,435)]
for x,y,*zbytek in data:
    print(x, y)
    print(zbytek)

1 2
[46, 7]
34 6
[]
234 5666
[13, 435]

In [208]:
b,*a = 10, 20
print(b,a)

10 [20]

In [210]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
mesta = dict()
for kod_statu, nazev_mesta, pocet_obyvatel in map(lambda r: r.split(','),radky):
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    print(stat,': ', ', '.join(  [ x[0] for x in sorted(mesta[stat],key = lambda x:x[1]) ] ), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [211]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
mesta = dict()
for kod_statu, nazev_mesta, pocet_obyvatel in [r.split(',') for r in radky]:
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat in sorted(mesta):
    print(stat,': ', ', '.join(  [ x[0] for x in sorted(mesta[stat],key = lambda x:x[1]) ] ), sep='')

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava

In [213]:
def velke_znaky(slovo):
    return slovo.upper()
print(velke_znaky('zehlicka'))
print(type(velke_znaky))

ZEHLICKA
<class 'function'>

In [217]:
velke_znaky_lambda = lambda slovo:slovo.upper()
print(velke_znaky_lambda)
#velke_znaky_lambda() #TypeError: <lambda>() missing 1 required positional argument: 'slovo'
print(velke_znaky_lambda('pracka'))

<function <lambda> at 0x00000246CF502E80>
PRACKA

In [225]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000',
         'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000',
         'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000',
         'CZ,Ceske Budejovice,103000',
        ]
mesta = dict()
for kod_statu, nazev_mesta, pocet_obyvatel in [r.split(',') for r in radky]:
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
print(mesta)

for stat,mesta_statu in sorted(mesta.items()):
    print(stat,': ', ', '.join(  map(lambda x:x[0], sorted(mesta_statu,key = lambda x:x[1])) ), sep='')

print(list(mesta.items()))
print(sorted(mesta.items()))

{'CZ': [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)], 'SK': [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)], 'DE': [('Berlin', 6500000)], 'AT': [('Linz', 82000), ('Graz', 95000)]}
AT: Linz, Graz
CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
DE: Berlin
SK: Banska Bystrica, Kosice, Bratislava
[('CZ', [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)]), ('SK', [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)]), ('DE', [('Berlin', 6500000)]), ('AT', [('Linz', 82000), ('Graz', 95000)])]
[('AT', [('Linz', 82000), ('Graz', 95000)]), ('CZ', [('Brno', 395000), ('Praha', 1100000), ('Ostrava', 210000), ('Hradec Kralove', 97000), ('Ceske Budejovice', 103000)]), ('DE', [('Berlin', 6500000)]), ('SK', [('Kosice', 210000), ('Banska Bystrica', 48000), ('Bratislava', 405000)])]