In [ ]:
radky = ['CZ,Brno', 'CZ,Praha', 'SK,Kosice', 'DE,Berlin', 'SK,Banska Bystrica', 'CZ,Ostrava', \
        'CZ,Hradec Kralove', 'AT,Linz', 'SK,Bratislava', 'AT,Graz', 'CZ,Ceske Budejovice', 'CZ', \
        '123,Kolin', '', 'SK,X']

def kontrola_radku(p_radek, oddelovac = ','):
    data = p_radek.split(oddelovac)
    #print(data, data[0], data[1])
    if len(data)==2 and len(data[0])==2 and data[0].isupper() and len(data[1])>1 and data[1][0].isupper():
        #pass
        return True
    else:
        print(f'Radek {p_radek} ma neplatny format ')
    return False
    
mesta = dict()
for radek in radky:
    if kontrola_radku(radek):
        kod_statu, nazev_mesta = radek.split(',')
        mesta.setdefault(kod_statu,[]).append(nazev_mesta)
#print(mesta)
for stat in sorted(mesta):
    print(stat,': ', ', '.join(sorted(mesta[stat])), sep='')

In [ ]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000', \
        'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000', \
        'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000', \
        'CZ,Ceske Budejovice,103000',
        ]

def kontrola_radku(p_radek):
    data = p_radek.split(',')
    if len(data)==3 and len(data[0])==2 and data[0].isupper() and len(data[1])>1 and data[1][0].isupper() and data[2].isdigit():
        #pass
        return True
    else:
        return False

# MAIN
mesta = dict()
for radek in radky:
    if kontrola_radku(radek):
        kod_statu, nazev_mesta, populace = p_radek.split(',')
        print(populace)
        mesta.setdefault(kod_statu,[]).append([nazev_mesta, populace])

print(mesta)
for stat in sorted(mesta):
    print(stat,': ', ', '.join(sorted(mesta[stat])), sep='')

Funkcni reseni podle lektora

In [ ]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000', \
        'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000', \
        'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000', \
        'CZ,Ceske Budejovice,103000', \
        ]
#seradte vzestupne podle kodu statu a nazvy mest vzestupne podle poctu obyvatel
#AT: Linz, Graz
#CZ: Hradec Kralove, Ceske Budejovice, Ostrava, Brno, Praha
def druhy_element(ntice):
    return ntice[1]

mesta = dict()
for radek in radky:
    kod_statu, nazev_mesta, pocet_obyvatel  = radek.split(',')
    mesta.setdefault(kod_statu,[]).append( (nazev_mesta,int(pocet_obyvatel)) )
#print(mesta)

for stat in sorted(mesta):
    seznam_mest = []
    for nazev,po in sorted(mesta[stat],key = druhy_element):
        seznam_mest.append(nazev)
    print(stat,': ', ', '.join(seznam_mest), sep='')

In [ ]:
jmena = [ 'dasds', 'sdfsdffsdf', 'ddf']

def f(x):
    print('volam fce f s:', x)
    return len(x)

m=map(f,jmena)
print(m)
print(list(m))
print(m) # uz se asi pouzil tka nic 
for i in m:
    print(i)

In [ ]:
jmena = [ 'dasds', 'sdfsdffsdf', 'ddf']

def f(x):
    print('volam fce f s:', x)
    return len(x)

m=map(f,jmena)
print(m)
for i in m:
    print(i)

In [ ]:
jmena = ['Jan', "Honza", "Karel"]
plat = [ 10, 20 ,30]
def f(a,b):
    return (a+b)

print(f(jmena, plat), type(f(jmena, plat)))

x = f(jmena, plat)
print(x, type(x))

### Exercise 1: Create a List of Squares

Task: Write a list comprehension to generate a list of squares for the numbers from 1 to 10.

In [ ]:
y = [x**2 for x in range(1,10+1)]
print(y)

### Exercise 2: Filter Even Numbers
Task: Write a list comprehension to generate a list of even numbers from 1 to 20.

In [ ]:
print([x for x in range(1,20+1) if not x%2])

### Exercise 3: Create a List of Cubes
Task: Write a list comprehension to generate a list of cubes for the numbers from 1 to 5.

In [ ]:
print([x**3 for x in range(1,6)])

### Exercise 4: Convert Celsius to Fahrenheit
Task: Given a list of temperatures in Celsius, create a new list with the temperatures converted to Fahrenheit using the formula 

 ùêπ=9/5*C + 32

In [ ]:
celsias = [0, 20, 100]

print([(9/5*x+32) for x in celsias])

### Exercise 5: Extract Vowels from a String
Task: Write a list comprehension to extract all the vowels from a given string.
Input: "hello"

In [ ]:
word="hello"
vowels=["a", "e", "i", "o", "u"]
print([x for x in word if x in vowels])

### Exercise 6: Find Common Elements Between Two Lists
Task: Write a list comprehension to find the common elements between two lists.

Example:
Input: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]
print([x for x in list1 if x in list2])

### Exercise 7: Flatten a List of Lists
Task: Given a list of lists, flatten it into a single list.

Example:
Input: [[1, 2], [3, 4], [5, 6]]

In [ ]:
input=[[1, 2], [3, 4], [5, 6]]
print([y for x in input for y in x])

for x in input:
    for y in x:
        print(y, end=', ')

In [17]:
input=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
#print([y for substr1 in input for substr2 in substr1 for y in substr1])
print([y for substr1 in input for substr2 in substr1 for y in substr2])
#print(input)
for x in input:
  #  print(x)
    for y in x:
   #     print(y)
        for z in y:
            print(z)

[1, 2, 3, 4, 5, 6, 7, 8]
1
2
3
4
5
6
7
8

In [ ]:
radky = ['CZ,Brno,395000', 'CZ,Praha,1100000', 'SK,Kosice,210000', 'DE,Berlin,6500000', \
        'SK,Banska Bystrica,48000', 'CZ,Ostrava,210000', \
        'CZ,Hradec Kralove,97000', 'AT,Linz,82000', 'SK,Bratislava,405000', 'AT,Graz,95000', \
        'CZ,Ceske Budejovice,103000', \
        ]

print