In [3]:
#monday
#Introduction to Python
print('Hello world')

Hello world

In [7]:
#builtin types
#numeric types
#assignment statement, assign value to variable
salary = 123
year=2024
print(salary,year) #sep='')
#language is case sensitive (indetifiers)
#print(Salary) #NameError: name 'Salary' is not defined

123 2024

In [22]:
#integers
salary=34900
print(salary,type(salary))
salary=-100
print(salary)
salary=0xff #hexadecimal
print(salary)
salary=0b1100 #binary
print(salary)
salary=0o777 #octal presentation
print(salary)
salary=100_000_000 #starting 3.6 we can use underscore in numeric literals between digits
print(salary)
#integers can be large (unlimited on scale)
x=123**456
print(x,type(x),x.bit_length())
x=123**456789
print(x)

34900 <class 'int'>
-100
255
12
511
100000000
99250068772098856700831462057469632637295940819886900519816298881382867104749399077921128661426144638055424236936271872492800352741649902118143819672601569998100120790496759517636465445895625741609866209900500198407153244604778968016963028050310261417615914468729918240685487878617645976939063464357986165711730976399478507649228686341466967167910126653342134942744851463899927487092486610977146112763567101672645953132196481439339873017088140414661271198500333255713096142335151414630651683065518784081203678487703002802082091236603519026256880624499681781387227574035484831271515683123742149095569260463609655977700938844580611931246495166208695540313698140011638027322566252689780838136351828795314272162111222231170901715612355701347552371530013693855379834865667060014643302459100429783653966913783002290784283455628283355470529932956051484477129333881159930212758687602795088579230431661696010232187390436601614145603241902386663442520160735566561 <class 'int'> 3166

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [24]:
import sys
#sys.set_int_max_str_digits(999_999)
#print(x)

In [27]:
print(10*45)
sal=78
print(sal*56000-23000)
print(10/3,10//3,10%3)

450
4345000
3.3333333333333335 3 1

In [32]:
count=14
print(count)
count=count+1
print(count)
count+=1
print(count)
#count++

14
15
16

In [36]:
#float
salary=12_345.80
print(salary,13.89e4) #scientific format,semilogaritmic
print(type(salary))

12345.8 138900.0
<class 'float'>

In [35]:
gopas=12+5j
print(gopas,type(gopas))

(12+5j) <class 'complex'>

In [37]:
salary=10200,5
print(salary,type(salary))

(10200, 5) <class 'tuple'>

In [38]:
#builtins abs,round
gopas=10/3
print(gopas,round(gopas,4))

3.3333333333333335 3.3333

In [46]:
import math
print(math.sin(math.pi),math.pi)
print(math.log(34))
print(math.gcd(75,30))
print(math.lcm(12,8))
print(math.sqrt(9)) #square root
#print(dir(math))

1.2246467991473532e-16 3.141592653589793
3.5263605246161616
15
24
3.0

In [49]:
gopas=123e301*45678977
print(gopas)
print(123e301**123e301)

inf

OverflowError: (34, 'Result too large')

In [50]:
import cmath
print(cmath.sqrt(-1))

1j

In [56]:
#boolean
truth=True #literal for True
print(truth,truth+0,truth+45)
no=False #literal for False
print(no,no+6,no+0)
#in Python false is 0,0.0 empty string, empty containes(lists,tuples,dictioanroes, sets) False None
print(None)
x=None #nothing, unknown value, unapplicable 
print(x,type(x))

True 1 46
False 6 0
None
None <class 'NoneType'>

In [61]:
print(12&9) #1100 & 1001 result 1000
print(0b1000)
print(12 | 9)
print(12 ^ 9)
print(~12)

8
8
13
5
-13

In [67]:
print(14-6 == 8,12!=12)
print(100>20)
print(10=='10')
print(10>'10')

True False
True
False

TypeError: '>' not supported between instances of 'int' and 'str'

In [70]:
print(20>5 and 300<=400)
print(20>50 and 300<=400)
#operator precedence

True
False

In [74]:
print(34>>1) #100010 10001
#print(bin(34))
print(34>>2) #1000
print(34>>3) #100

17
0b100010
8
4

In [79]:
#compute and print for some radius AREA and CIRCUMFERENCE for that radius
radius=123
import math
print( round(math.pi*radius**2,4)  )#area
print( round(2*math.pi*radius,4))

47529.1553
772.8318

In [81]:
radius=123
pi=22/7
print( round(pi*radius**2,4)  )#area
print( round(2*pi*radius,4))
pi=100
print( round(2*pi*radius,4))

47548.2857
773.1429
24600

In [90]:
#retezce
greeting='Hello world from gopas'
print(greeting,type(greeting),len(greeting))
greeting2="Hello world from gopas"
print(greeting2,type(greeting2),len(greeting2))
print(greeting==greeting2)
#multiline strings
var="""Hello from
Gopas in Brno
Czech Republic\n"""
print(var,type(var),len(var))

Hello world from gopas <class 'str'> 22
Hello world from gopas <class 'str'> 22
True
Hello from
Gopas in Brno
Czech Republic
 <class 'str'> 40

In [97]:
#raw strings
print('brno\tpraha\nmonday')
print(r'brno\tpraha\nmonday')
file_name=r'e:\new_directory\new_file.txt'
print(file_name)
print('Gopas'+'Brno',4*'Brno')

brno	praha
monday
brno\tpraha\nmonday
e:\new_directory\new_file.txt
GopasBrno BrnoBrnoBrnoBrno

In [118]:
#all strings are unicode strings
message='Žluťoučký kůň pěl žalostné ódy.'
print(message)
kůň = 123
print(kůň)
print('lion \N{lion face} \N{beer mug} \N{elephant}')
#🐘=123
x='Novák'
print(x,type(x),len(x))
y='Nov\N{latin small letter a with acute}k'
print(y,type(y),len(y),x==y)
z='Nova\N{combining acute accent}k'
print(z,type(z),len(z),z==x)
import unicodedata
#print(dir(unicodedata))
print(unicodedata.normalize('NFKC',x)==unicodedata.normalize('NFKC',z))
print(unicodedata.normalize('NFKC',x)==unicodedata.normalize('NFKC','Novak'))

Žluťoučký kůň pěl žalostné ódy.
123
lion 🦁 🍺 🐘
Novák <class 'str'> 5
Novák <class 'str'> 5 True
Novák <class 'str'> 6 False
['UCD', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_ucnhash_CAPI', 'bidirectional', 'category', 'combining', 'decimal', 'decomposition', 'digit', 'east_asian_width', 'is_normalized', 'lookup', 'mirrored', 'name', 'normalize', 'numeric', 'ucd_3_2_0', 'unidata_version']
True
False

In [117]:
#help(unicodedata.normalize)

In [122]:
text=input('Prompt string: enter your name:')
print('Your name in uppercase is',text.upper()) #method of string datatype, called to get uppercase string
print(type(text),len(text))

Prompt string: enter your name: Jan

Your name in uppercase is JAN
<class 'str'> 3

In [124]:
a='123'
b=456
print(int(a)+b)

579

In [128]:
int('ahoj') #ahoj is not valid int literal

ValueError: invalid literal for int() with base 10: 'ahoj'

In [2]:
radius=int(input('Enter radius:'))
import math
print( round(math.pi*radius**2,4)  )#area
print( round(2*math.pi*radius,4))

Enter radius: 123

47529.1553
772.8318

In [3]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [13]:
print('BRNo'.capitalize(),'BRno'.lower())
x='     BRno   '
print(x.strip(),x.lstrip(),x.rstrip(),sep='_+_')
print(x.find('Rn'))

Brno brno
BRno_+_BRno   _+_     BRno
6

In [32]:
city='Ostrava'
#str is text sequence type - sequence means we can index or slice string value
print(city[0])
print(city[1])
print(city[2])
print(city[-1]) #last character
print(city[-2]) #one before last
#slicing
print(city[2:5])
print(city[1:])
print(city[1:-1])
print(city[::-1])
print(city[1],city[4],sep='')
print(city[::-2])
print(city[2::-2])
x=city[0]
print(x,type(x),len(x))

O
s
t
a
v
tra
strava
strav
avartsO
sa
aatO
tO
O <class 'str'> 1

In [43]:
#string formating
#old style (Python 2) formating
a=10
print("Variable has value %d" % a)
name='Peter'
age=30
print('My name is %s and I\'m %d years old.' % (name,age) )
print('My name is %-15s and I\'m %10d years old.' % (name,age) )

Variable has value 10
My name is Peter and I'm 30 years old.
My name is Peter           and I'm         30 years old.

In [55]:
#new style of formating
#format method of str object
name='Peter'
age=30
print('My name is {0} and I\'m {1} years old.'.format(name,age) )
print('My name is {} and I\'m {} years old.'.format(name,age) )
print('My name is {:<15} and I\'m {:>10} years old.'.format(name,age) )
print('My name is {0:^15} and I\'m {1:>010d} years old.'.format(name,age) )
print('Age: {:>6x}'.format(age)) #1e is 30 in decimal
print(hex(age),hex(age)[2:])

My name is Peter and I'm 30 years old.
My name is Peter and I'm 30 years old.
My name is Peter           and I'm         30 years old.
My name is      Peter      and I'm 0000000030 years old.
Age:     1e
0x1e 1e

In [62]:
#starting 3.6
#f-strings
age=29
name='George'
print(f'My name is {name} and I\'m {age} years old.')
print(f'My name is {name} and I\'m {age} years old.')
print(f'My name is {name:<15} and I\'m {age:>10} years old.' )
print(f'My name is {name:^15s} and I\'m {age:>010d} years old.' )

My name is George and I'm 29 years old.
My name is George and I'm 29 years old.
My name is George          and I'm         29 years old.
My name is     George      and I'm 0000000029 years old.

In [49]:
#https://pyformat.info/

In [65]:
message=10_000_000*'gopas'
print(len(message))
del message

50000000

In [70]:
print(ord('A'),ord('a'))
print(chr(66),chr(99))
print(ord('ž'))

65 97
B c
382

In [77]:
#lists
L1=[] #empty list
print(L1,type(L1),len(L1))
numbers=[34,6,88,12]
print(numbers,type(numbers),len(numbers))
L2=[12,34.7,'gopas',True,567]
print(L2)
print(3*L2)
print(numbers+L2)
L3=numbers+L2

[] <class 'list'> 0
[34, 6, 88, 12] <class 'list'> 4
[12, 34.7, 'gopas', True, 567]
[12, 34.7, 'gopas', True, 567, 12, 34.7, 'gopas', True, 567, 12, 34.7, 'gopas', True, 567]
[34, 6, 88, 12, 12, 34.7, 'gopas', True, 567]

In [76]:
letters=list('gopas')
print(letters,type(letters),len(letters))

['g', 'o', 'p', 'a', 's'] <class 'list'> 5

In [79]:
print(L3)
print(L3[0],L3[1],L3[-1],L3[2:-1])

[34, 6, 88, 12, 12, 34.7, 'gopas', True, 567]
34 6 567 [88, 12, 12, 34.7, 'gopas', True]

In [100]:
#list are muttable
numbers=[34,6,88,12]
print(numbers,len(numbers))
numbers.append(-66)
print(numbers,len(numbers))
numbers.insert(2,777)
print(numbers,len(numbers))
del numbers[4]
print(numbers,len(numbers))
numbers.remove(6)
print(numbers,len(numbers))
numbers.extend([-5,-12,-33])
print(numbers,len(numbers))
numbers.append([-5,-12,-33])
print(numbers,len(numbers))
del numbers[6:]
print(numbers,len(numbers))
print(numbers.pop())
print(numbers,len(numbers))
print(numbers.pop(0))
print(numbers,len(numbers))
var=numbers
print(numbers,len(numbers))
print(var,len(var))
print(var==numbers)
numbers.append(88888)
print(numbers,len(numbers))
print(var,len(var))


var=numbers[:]
print(numbers,len(numbers))
print(var,len(var))
print(var==numbers)
numbers.append(99999)
print(numbers,len(numbers))
print(var,len(var))

[34, 6, 88, 12] 4
[34, 6, 88, 12, -66] 5
[34, 6, 777, 88, 12, -66] 6
[34, 6, 777, 88, -66] 5
[34, 777, 88, -66] 4
[34, 777, 88, -66, -5, -12, -33] 7
[34, 777, 88, -66, -5, -12, -33, [-5, -12, -33]] 8
[34, 777, 88, -66, -5, -12] 6
-12
[34, 777, 88, -66, -5] 5
34
[777, 88, -66, -5] 4
[777, 88, -66, -5] 4
[777, 88, -66, -5] 4
True
[777, 88, -66, -5, 88888] 5
[777, 88, -66, -5, 88888] 5
[777, 88, -66, -5, 88888] 5
[777, 88, -66, -5, 88888] 5
True
[777, 88, -66, -5, 88888, 99999] 6
[777, 88, -66, -5, 88888] 5

In [101]:
text='Hello world from gopas'
x=text.split()
print(x,type(x),len(x))

['Hello', 'world', 'from', 'gopas'] <class 'list'> 4

In [102]:
data='Jan,Novak,34,56200'
print(data.split(','))

['Jan', 'Novak', '34', '56200']

In [105]:
print('o' in 'Gopas')
print('n' in 'Gopas')
print('op' in 'Gopas')

True
False
True

In [109]:
x=[34, 6, 88, 12, -66]
print(6 in x)
print(66 in x)
print(6 not in x)
print(6 not in x[3:])

True
False
False
True

In [112]:
x=[34, 6, 88, 12, -66]
x.sort()
print(x)
x.sort(reverse=True)
print(x)

[-66, 6, 12, 34, 88]
[88, 34, 12, 6, -66]

In [113]:
x=[34, 6, 88, 12, -66,'Jan']
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [114]:
x=['Jan','Adam','Eva']
x.sort() #inplace sorting, rearange in list
print(x)

['Adam', 'Eva', 'Jan']

In [117]:
x=['Jan','Adam','Eva']
print(sorted(x)) #return new sorted list , orginal list is not changed
print(x)

['Adam', 'Eva', 'Jan']
['Jan', 'Adam', 'Eva']

In [120]:
x=[2,4,1,5,6,3,3]
print(min(x),max(x),sum(x))
print(min(['Jan','Adam','Eva']))
#print(sum(['Jan','Adam','Eva'])) #begin with sum=0 a then add valuies from list

1 6 24
Adam

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [126]:
x=[2,4,1,5,6,3,3,5,5,12,5]
print(x.index(1))
print(x.count(5) )
print(x.count(-9) )
#print(x[88]) #IndexError: list index out of range
#index must be between 0 and len(list)-1

2
4
0

IndexError: list index out of range

In [140]:
#tuples
x=()
print(x,type(x),len(x))
x=(9,)
print(x,type(x),len(x))
peter=('Peter','Gabriel',74,8_000_000)
print(peter,type(peter),len(peter))
print(peter[1])
print(peter[1:])
print(peter.count(74))
print(peter.count(9999))
print(peter.index(74))
print(74 in peter)
#print(peter.index(9999))

() <class 'tuple'> 0
(9,) <class 'tuple'> 1
('Peter', 'Gabriel', 74, 8000000) <class 'tuple'> 4
Gabriel
('Gabriel', 74, 8000000)
1
0
2
True

In [146]:
import sqlite3
conn=sqlite3.connect(r'e:\db.sqlite')
rows=conn.cursor().execute('select * from employees').fetchall()
print(rows)
print(rows[-1])
print(rows[-1][1])
print(rows[-1][1][0])

[(1, 'Jan', 34000), (2, 'Peter', 24000), (3, 'Adam', 56000)]
(3, 'Adam', 56000)
Adam
A

In [148]:
peter=('Peter','Gabriel',74,8_000_000)
print(3*peter)
print(peter+('UK','London'))

('Peter', 'Gabriel', 74, 8000000, 'Peter', 'Gabriel', 74, 8000000, 'Peter', 'Gabriel', 74, 8000000)
('Peter', 'Gabriel', 74, 8000000, 'UK', 'London')

In [164]:
#sets
empty=set()
print(empty,type(empty),len(empty))
numbers1={12,56,2,6,12,77,88,12}
print(numbers1,type(numbers1),len(numbers1))
numbers2={77,88,12,13,-8}
print(numbers1.intersection(numbers2))
print(numbers2.difference(numbers1))
#print(numbers1[2]) #TypeError: 'set' object is not subscriptable
print(12 in numbers1)
print(120 not in numbers1)
print(numbers2)
numbers2.add(-160)
print(numbers2,len(numbers2))
numbers2.remove(88)
print(numbers2,len(numbers2))

set() <class 'set'> 0
{2, 6, 56, 88, 12, 77} <class 'set'> 6
{88, 12, 77}
{-8, 13}
True
True
{13, -8, 88, 12, 77}
{-160, 13, -8, 88, 12, 77} 6
{-160, 13, -8, 12, 77} 5

In [166]:
L1=[34,7,8,12,7,34,99,0]
print(L1)
L1=list(set(L1))
print(L1)

[34, 7, 8, 12, 7, 34, 99, 0]
[0, 34, 99, 7, 8, 12]

In [171]:
#dictionaries
empty={}
print(empty,type(empty),len(empty))
power={7:49, 9:81,2:4}
print(power,len(power),type(power))
print(power[7])
power[10]=100
print(power)
power[10]=99.999999
print(power)

{} <class 'dict'> 0
{7: 49, 9: 81, 2: 4} 3 <class 'dict'>
49
{7: 49, 9: 81, 2: 4, 10: 100}
{7: 49, 9: 81, 2: 4, 10: 99.999999}

In [180]:
colors={'cervena':'red','zluta':'yellow','zelena':'green'}
print(colors,type(colors),len(colors))
print(f'I czech cervena is {colors["cervena"]}')
print(colors.keys())
print(colors.values())
print(colors.items())
print(list(colors.items()))
del colors['cervena']
print(colors)
#print(colors[1:])

{'cervena': 'red', 'zluta': 'yellow', 'zelena': 'green'} <class 'dict'> 3
I czech cervena is red
dict_keys(['cervena', 'zluta', 'zelena'])
dict_values(['red', 'yellow', 'green'])
dict_items([('cervena', 'red'), ('zluta', 'yellow'), ('zelena', 'green')])
[('cervena', 'red'), ('zluta', 'yellow'), ('zelena', 'green')]
{'zluta': 'yellow', 'zelena': 'green'}